
.spinner {
    width: 56px;
    height: 56px;
    border: 11.2px #474bff double;
    border-left-style: solid ;
    border-radius: 50%;
    animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
    to {
        transform: rotate(1turn);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: "Poppins",sans-serif;
}
.nav{
    margin-top: 1rem;
    text-align: center;
}
.filter{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px
}
.filter button{
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    width: auto;
}
.filter button:hover{
    transform: scale(1.05);
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    max-width: 300px;   
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}
.image-container{
    position: relative;
}
.image-container img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 300px;
}
.image-container button{
    position: absolute;
    right: -30px;
    bottom: 5px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 0.5px solid black;
    cursor: pointer;
}
.card-title{
    font-weight: 700;
    font-size: x-large;
}
.spinnerContainer{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}